/* Criando as variaveis no CSS */
:root {
  --bg-button: #f0f0f0;
  --border-button: 1px solid #888;
}

.calculator {
  height: 320px;
  width: 235px;
  border-radius: 5px;
  overflow: hidden;
  /* background-color: #fff; */

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
  cursor: pointer;
}

.button:active {
  background-color: #ccc;
}

.button.double {
  grid-column: span 2;
}

.button.triple {
  grid-column: span 3;
}

.button.operation {
  background-color: #fa8231;
  color: #fff;
}

.button.operation:active {
  background-color: #fa8231cc;
}
